<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <style> #map_25b3b917f5d64a3ab303b357105f7d71 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>

</head>
<body>

            <div class="folium-map" id="map_25b3b917f5d64a3ab303b357105f7d71" ></div>

</body>
<script>



                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);


            var map_25b3b917f5d64a3ab303b357105f7d71 = L.map(
                                  'map_25b3b917f5d64a3ab303b357105f7d71',
                                  {center: [40,-98],
                                  zoom: 5,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });



            var tile_layer_e72429348dd74aff865750046047280a = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_25b3b917f5d64a3ab303b357105f7d71);




            var marker_8edbb19b268642cdaeb02f1970debf0c = L.marker(
                [33.494171,-111.926048],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_38a99b39c1fa4ecbbad58cac2cc9ef24 = L.popup({maxWidth: '300'});


                var html_741e94c04ab943358e4c61f41c70b0cf = $('<div id="html_741e94c04ab943358e4c61f41c70b0cf" style="width: 100.0%; height: 100.0%;">2018 - Scottsdale, AZ - Alex King<br>2019 - Scottsdale, AZ - Alex King</div>')[0];
                popup_38a99b39c1fa4ecbbad58cac2cc9ef24.setContent(html_741e94c04ab943358e4c61f41c70b0cf);


            marker_8edbb19b268642cdaeb02f1970debf0c.bindPopup(popup_38a99b39c1fa4ecbbad58cac2cc9ef24);





            var marker_1c2a18acee8a4c60887119b215e6e5d1 = L.marker(
                [36.805531,-114.06719],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_8231a702a7e8467bb88a60e4c0e521b4 = L.popup({maxWidth: '300'});


                var html_728c074e7ea0437b89169e621b7df08f = $('<div id="html_728c074e7ea0437b89169e621b7df08f" style="width: 100.0%; height: 100.0%;">2017 - Mesquite, NV - Alex King</div>')[0];
                popup_8231a702a7e8467bb88a60e4c0e521b4.setContent(html_728c074e7ea0437b89169e621b7df08f);


            marker_1c2a18acee8a4c60887119b215e6e5d1.bindPopup(popup_8231a702a7e8467bb88a60e4c0e521b4);





            var marker_c3489c0b95844a9c88401fd2f13641f9 = L.marker(
                [41.878114,-87.629798],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_3eb595ad13504105983c41763126cb04 = L.popup({maxWidth: '300'});


                var html_daa9fa368bbf4387ab4113a2ae5a927d = $('<div id="html_daa9fa368bbf4387ab4113a2ae5a927d" style="width: 100.0%; height: 100.0%;">2016 - Chicago, IL - Jerry King</div>')[0];
                popup_3eb595ad13504105983c41763126cb04.setContent(html_daa9fa368bbf4387ab4113a2ae5a927d);


            marker_c3489c0b95844a9c88401fd2f13641f9.bindPopup(popup_3eb595ad13504105983c41763126cb04);





            var marker_529ee4aaae5a4b4c95bd3d7b390399aa = L.marker(
                [34.502587,-84.951054],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_6c5f1659f035491a959aa79d17834119 = L.popup({maxWidth: '300'});


                var html_f3d7cb02938043e6af20d859dd1ad5da = $('<div id="html_f3d7cb02938043e6af20d859dd1ad5da" style="width: 100.0%; height: 100.0%;">2015 - Georgia - Stuart King</div>')[0];
                popup_6c5f1659f035491a959aa79d17834119.setContent(html_f3d7cb02938043e6af20d859dd1ad5da);


            marker_529ee4aaae5a4b4c95bd3d7b390399aa.bindPopup(popup_6c5f1659f035491a959aa79d17834119);





            var marker_df7b01fb0be44b248000b38186945cdc = L.marker(
                [42.331427,-83.045754],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_940741b2c97b4158af41feabc9a0756e = L.popup({maxWidth: '300'});


                var html_85bd76dd2f55470a929ae59764c89aa4 = $('<div id="html_85bd76dd2f55470a929ae59764c89aa4" style="width: 100.0%; height: 100.0%;">2014 - Michigan - Reggie Sherrill</div>')[0];
                popup_940741b2c97b4158af41feabc9a0756e.setContent(html_85bd76dd2f55470a929ae59764c89aa4);


            marker_df7b01fb0be44b248000b38186945cdc.bindPopup(popup_940741b2c97b4158af41feabc9a0756e);





            var marker_93d420271a384af7b950d4d2e86ce230 = L.marker(
                [39.739236,-104.990251],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_0c55fa8dc64643b78d27dd11658c3785 = L.popup({maxWidth: '300'});


                var html_1ba8d9fe1f2949eeb7d1c52697da9eba = $('<div id="html_1ba8d9fe1f2949eeb7d1c52697da9eba" style="width: 100.0%; height: 100.0%;">2013 - Denver, CO - Stuart King</div>')[0];
                popup_0c55fa8dc64643b78d27dd11658c3785.setContent(html_1ba8d9fe1f2949eeb7d1c52697da9eba);


            marker_93d420271a384af7b950d4d2e86ce230.bindPopup(popup_0c55fa8dc64643b78d27dd11658c3785);





            var marker_bcc47ced0c43429fb345673529dd1fed = L.marker(
                [47.677683,-116.780466],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_0216c6631e1c4d3a96af0106423e7aba = L.popup({maxWidth: '300'});


                var html_a74c3fb18e9b4dce91cc5abfdd10a314 = $('<div id="html_a74c3fb18e9b4dce91cc5abfdd10a314" style="width: 100.0%; height: 100.0%;">2012 - Coeur d&#39;Alene, ID - Jerry King</div>')[0];
                popup_0216c6631e1c4d3a96af0106423e7aba.setContent(html_a74c3fb18e9b4dce91cc5abfdd10a314);


            marker_bcc47ced0c43429fb345673529dd1fed.bindPopup(popup_0216c6631e1c4d3a96af0106423e7aba);





            var marker_6a6d620b14764dbb8598afd1d2b0a57c = L.marker(
                [37.096528,-113.568416],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_89c60155833846ad8c5e3ea986405aae = L.popup({maxWidth: '300'});


                var html_898e823950b94dfcb376e1d4f8c2301a = $('<div id="html_898e823950b94dfcb376e1d4f8c2301a" style="width: 100.0%; height: 100.0%;">2011 - St. George, UT - Reggie Sherrill</div>')[0];
                popup_89c60155833846ad8c5e3ea986405aae.setContent(html_898e823950b94dfcb376e1d4f8c2301a);


            marker_6a6d620b14764dbb8598afd1d2b0a57c.bindPopup(popup_89c60155833846ad8c5e3ea986405aae);





            var marker_ee427f401cf44a688d62668b87ac8676 = L.marker(
                [38.291859,-122.458036],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_697e37cdfc5c41e2bb4659a7a50a81bb = L.popup({maxWidth: '300'});


                var html_f4f1ce79ce1a419c8e90dee0d86cdbd9 = $('<div id="html_f4f1ce79ce1a419c8e90dee0d86cdbd9" style="width: 100.0%; height: 100.0%;">2010 - Northern California - Alex King</div>')[0];
                popup_697e37cdfc5c41e2bb4659a7a50a81bb.setContent(html_f4f1ce79ce1a419c8e90dee0d86cdbd9);


            marker_ee427f401cf44a688d62668b87ac8676.bindPopup(popup_697e37cdfc5c41e2bb4659a7a50a81bb);





            var marker_01c3cdf9d0ce4130ae5dd7a7bb637ebe = L.marker(
                [39.237685,-120.02658],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_68d1e9cdedc94e2a87a265a046f79518 = L.popup({maxWidth: '300'});


                var html_3a7c78a1f482498eaae2f0c078b5e1b7 = $('<div id="html_3a7c78a1f482498eaae2f0c078b5e1b7" style="width: 100.0%; height: 100.0%;">2009 - Lake Tahoe, CA - Alex King</div>')[0];
                popup_68d1e9cdedc94e2a87a265a046f79518.setContent(html_3a7c78a1f482498eaae2f0c078b5e1b7);


            marker_01c3cdf9d0ce4130ae5dd7a7bb637ebe.bindPopup(popup_68d1e9cdedc94e2a87a265a046f79518);





            var marker_9ec5bfae99114420bc7db34242bfa3de = L.marker(
                [47.606209,-122.332071],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_8c6dab6dc84e4dbf8deef31df103e905 = L.popup({maxWidth: '300'});


                var html_02094060244646639f5f72da7802053f = $('<div id="html_02094060244646639f5f72da7802053f" style="width: 100.0%; height: 100.0%;">2008 - Seattle, WA - Alex King</div>')[0];
                popup_8c6dab6dc84e4dbf8deef31df103e905.setContent(html_02094060244646639f5f72da7802053f);


            marker_9ec5bfae99114420bc7db34242bfa3de.bindPopup(popup_8c6dab6dc84e4dbf8deef31df103e905);





            var marker_9eb13ce191494136913a4e27989ee253 = L.marker(
                [35.960638,-83.920739],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_50e320539a38461998e4c701e402ccff = L.popup({maxWidth: '300'});


                var html_4affb6cb1da14596b377dc7aa90ed210 = $('<div id="html_4affb6cb1da14596b377dc7aa90ed210" style="width: 100.0%; height: 100.0%;">2007 - Tennessee - Stuart King</div>')[0];
                popup_50e320539a38461998e4c701e402ccff.setContent(html_4affb6cb1da14596b377dc7aa90ed210);


            marker_9eb13ce191494136913a4e27989ee253.bindPopup(popup_50e320539a38461998e4c701e402ccff);





            var marker_0ad231d35c58428b90cfba3792da7d57 = L.marker(
                [33.520661,-86.80249],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_9a79fbf389424ffa8237e2cb2dbf1eae = L.popup({maxWidth: '300'});


                var html_95d8b78c57994b6e959433541191a4c9 = $('<div id="html_95d8b78c57994b6e959433541191a4c9" style="width: 100.0%; height: 100.0%;">2006 - Alabama - Gary Olson</div>')[0];
                popup_9a79fbf389424ffa8237e2cb2dbf1eae.setContent(html_95d8b78c57994b6e959433541191a4c9);


            marker_0ad231d35c58428b90cfba3792da7d57.bindPopup(popup_9a79fbf389424ffa8237e2cb2dbf1eae);





            var marker_42a0ea71509c4b93850eda487ef3f2c2 = L.marker(
                [32.366805,-86.299969],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_25b3b917f5d64a3ab303b357105f7d71);


            var popup_57342eedfa8c4652b0052e5333313da7 = L.popup({maxWidth: '300'});


                var html_918c8013cf704bd58c103b3a52535dae = $('<div id="html_918c8013cf704bd58c103b3a52535dae" style="width: 100.0%; height: 100.0%;">2005 - Alabama - Stuart King</div>')[0];
                popup_57342eedfa8c4652b0052e5333313da7.setContent(html_918c8013cf704bd58c103b3a52535dae);


            marker_42a0ea71509c4b93850eda487ef3f2c2.bindPopup(popup_57342eedfa8c4652b0052e5333313da7);



</script>
